.App {
	text-align: left;
	justify-content: left;
	flex-direction: line;
}

.App-header {
	background-color: #242830;
	min-height: 10vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 1.25em;
	color: white;
	top: 0px;
	position: sticky;
}

.App-header h1 {
	margin: 0;
}

.App-header p {
	margin: 0px 0px 20px;
	font-size: 1.25em;
}

.avatar {
	border-radius: 20% 5%;
	outline: black;
	outline-style: outset;
	outline-width: 3px;
}

.row {
	background-color: #282c34;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-evenly;
	color: white;
	padding: 10px;
}

.coloum {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	color: white;
	margin: 10px;
}