.Attributes {
	outline-style: groove;
	outline-width: 2px;
	outline-color: black;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-self: stretch;
}

.Attributes h1 {
	text-align: center;
	margin-top: 0;
}