.Dicerow {
	display: flex;
	flex-direction: row;
	align-content: start;
	justify-content: space-between;
}

.Dicerow p {
	margin: 5px;
	min-width: 1.5em;
	text-align: center;
}

.Dicerow p:hover {
	color: cadetblue;
	cursor: default;
}

.Dicerow button {
	cursor: pointer;
	width: 2em;
	height: 2em;
	background-color: #282c34;
	text-align: center;
	color: white;
}
