.Gear {
	display: flex;
	min-width: 250px;
	max-height: 500px;
	flex-direction: column;
	align-content: center;
	justify-content: flex-start;
	font-size: calc(10px + 1.5vmin);
	color: white;
	overflow: auto;
}

.Gear h3 {
	background-color: #282c34;
	margin: 0;
	text-align: center;
	top: 0px;
	position: sticky;
}

.Gear p {
	margin: 0;
	padding: 0 0.5em 0 0.5em;
	text-align: left;
	border-color: black;
	border-style: inset;
	min-height: 1.5em;
	max-height: 2em;
}

.Gear button {
	cursor: pointer;
	width: 3em;
	height: 2em;
	background-color: #282c34;
	text-align: center;
	color: white;
	margin-top: 5px;
}